In [8]:
import pandas as pd

In [9]:
results = pd.read_csv('full_clustering_result_75_ver.csv')

In [10]:
results.head()

           name version  n_clusters   affinity   linkage  n_MoJo     mojoFM
0  apache-storm   1.1.0          50  euclidean  complete    1600  22.141119
1  apache-storm   1.1.0          50  euclidean   average    1622  21.070560
2  apache-storm   1.1.0          50  euclidean    single    1571  23.552311
3  apache-storm   1.1.0          50         l1  complete    1611  21.605839
4  apache-storm   1.1.0          50         l1   average    1606  21.849148

In [12]:
best_results = results.sort_values('mojoFM', ascending = False).groupby(['name']).head(1)

In [13]:
best_results.head()

,name,version,n_clusters,affinity,linkage,n_MoJo,mojoFM
6005,apache-spark,2.4.3,50,l1,single,107,99.228217
18119,jenkinsci-jenkins,2.194,50,cosine,single,114,99.020029
45863,ionic-team-capacitor,0.0.112,50,l2,single,8,99.008674
31541,hibernate-hibernate-orm,5.3.7,50,manhattan,single,111,98.986301
40923,iSoron-uhabits,1.7.8,300,l1,complete,9,98.604651

In [14]:
len(best_results)

75

In [16]:
best_results.to_csv('best_result_agglomerative_75_ver.csv', index=False)