In [1]:
import json
import pandas as pd
import numpy as np
import networkx as nx
import jellyfish
import os
import shutil
import subprocess
from scipy.cluster.hierarchy import dendrogram, linkage
from matplotlib import pyplot as plt
from fuzzywuzzy import fuzz
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
from sklearn import preprocessing
from sklearn.cluster import AgglomerativeClustering

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
with open('spark_dependency_results.json') as f:
    spark_results = json.load(f)

In [3]:
#spark_results['variables']

### main_dict is for Directory -> Value ###
### main_dict_val is for Value -> Directory ###


main_dict = {}
main_dict_val = {}
main_dict_counter = 0
dict_array = []
min_set = set()
for element in spark_results['variables']:
    #print(element)
    
    ### Replace this with the initial JSON directory ###
    element_tbc = element.replace('C:\\Users\\tanji\\Desktop\\', '')
    main_dict[element_tbc] = main_dict_counter
    main_dict_val[main_dict_counter] = element_tbc
    main_dict_counter += 1

In [4]:
test = pd.read_csv('apache_spark.csv', header=None)

In [6]:
test.head(30)

          0
0   7955b39
1   8c6f815
2   c3e32bf
3   a44880b
4   5830101
5   66fd9c3
6   4acb6ba
7   0a4c03f
8   02b5107
9   fc28ba3
10  b7eac07
11  30aaa5a
12  992447f
13  e30e269
14  2abaea9
15  a2c7b21
16  267aca5
17  cd0a083
18  584354e
19  933d2c1
20  13650fc