In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('clustering_result_extremity_mojo_75_ver.csv')

In [52]:
results.sort_values(['extremity'], ascending=False).head()

NameError: name 'results' is not defined

In [18]:
df = pd.read_csv('best_result_agglomerative_75_ver.csv')
df = df.sort_values(['mojoFM'], ascending=False)
df = df[~df['affinity'].isin(['l1', 'l2'])]

In [19]:
df.head(15)

,name,version,n_clusters,affinity,linkage,n_MoJo,mojoFM
1,jenkinsci-jenkins,2.194,50,cosine,single,114,99.020029
3,hibernate-hibernate-orm,5.3.7,50,manhattan,single,111,98.986301
6,apache-activemq,5.15.8,50,cosine,single,158,97.054986
7,activiti-activiti,7.1.83,50,manhattan,single,124,96.985902
8,hazelcast-hazelcast,3.8.9,50,cosine,single,208,96.749492
10,airbnb-lottie-android,3.0.0,150,manhattan,complete,34,95.502646
17,ReactiveX-RxJava,2.2.8,50,cosine,single,110,93.612079
18,oracle-opengrok,1.3.1,50,cosine,single,105,93.400377
19,apache-cassandra,3.2,50,euclidean,single,170,92.869128
20,oblac-jodd,5.0.8,50,cosine,single,177,92.865780
21,scribejava-scribejava,6.6.2,250,euclidean,complete,23,92.580645
22,apache-archiva,1.3.9,50,manhattan,single,138,92.430060
23,jankotek-mapdb,1.0.7,150,manhattan,average,19,92.369478
24,redisson-redisson,3.7.2,50,cosine,single,111,92.116477
25,crate-crate,3.3.5,50,cosine,single,230,91.753317

In [15]:
df.to_csv('best_result_agglomerative_75_ver_without_L1L2.csv')

In [53]:
df2 = pd.read_csv('bunch_clustering_result_30_ver.csv')
df2.sort_values(['mojoFM'], ascending=False).head()

FileNotFoundError: [Errno 2] File b'bunch_clustering_result_30_ver.csv' does not exist: b'bunch_clustering_result_30_ver.csv'

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('bunch_clustering_result_extremity_mojo_75_ver.csv')
df2 = pd.read_csv('agglo_clustering_result_extremity_mojo_75_ver.csv')

In [3]:
df1['Instance'] = df1['name'] + df1['version']
df2['Instance'] = df2['name'] + df2['version']

In [4]:
df2 = df2.merge(df1, on='Instance')

In [5]:
df2.head()

,name_x,version_x,n_clusters,affinity,linkage,n_MoJo_x,mojoFM_x,extremity_x,Instance,name_y,version_y,bunch_algo,n_MoJo_y,mojoFM_y,extremity_y,extremity_ground_truth
0,apache-spark,2.4.3,50,l1,single,107,99.228217,0.00,apache-spark2.4.3,apache-spark,2.4.3,hillclimbing,593,95.722735,0.769231,0.095238
1,jenkinsci-jenkins,2.194,50,cosine,single,114,99.020029,0.02,jenkinsci-jenkins2.194,jenkinsci-jenkins,2.194,ga,1047,90.999742,0.916667,0.500000
2,ionic-team-capacitor,0.0.112,50,l2,single,8,99.008674,0.04,ionic-team-capacitor0.0.112,ionic-team-capacitor,0.0.112,hillclimbing,23,97.149938,1.000000,0.600000
3,hibernate-hibernate-orm,5.3.7,50,manhattan,single,111,98.986301,0.00,hibernate-hibernate-orm5.3.7,hibernate-hibernate-orm,5.3.7,hillclimbing,7953,27.369863,0.726190,0.182456
4,iSoron-uhabits,1.7.8,300,l1,complete,9,98.604651,0.06,iSoron-uhabits1.7.8,iSoron-uhabits,1.7.8,hillclimbing,212,67.131783,0.800000,0.666667

In [7]:
df2.to_csv('random_test.csv', index=False)

In [44]:
import pandas as pd

test = pd.read_csv('agglo_clustering_result_75_ver.csv')
#test = test.sort_values('mojoFM', ascending=False)
test = test.groupby(['name']).size().reset_index()
test.columns = ['name', 'count']

In [45]:
test.head(10)

                    name  count
0      JodaOrg-joda-time     10
1       ReactiveX-RxJava     10
2    Twitter4J-Twitter4J      3
3         ZieIony-Carbon      5
4      activiti-activiti     10
5  airbnb-lottie-android     10
6       alibaba-fastjson     10
7       alibaba-jetcache     10
8        apache-accumulo     10
9        apache-activemq     10

In [46]:
test.dtypes

name     object
count     int64
dtype: object

In [49]:
morethan10 = test[test['count'] >= 10]
morethan10.head(10)

                     name  count
0       JodaOrg-joda-time     10
1        ReactiveX-RxJava     10
4       activiti-activiti     10
5   airbnb-lottie-android     10
6        alibaba-fastjson     10
7        alibaba-jetcache     10
8         apache-accumulo     10
9         apache-activemq     10
11            apache-avro     10
13      apache-bookkeeper     10

In [43]:
print(len(test))

75

In [48]:
print(len(morethan10))

58

In [54]:
len(morethan10['name'].sort_values().unique())

58

In [58]:
morethan10['name'].sort_values().unique()

array(['JodaOrg-joda-time', 'ReactiveX-RxJava', 'activiti-activiti',
       'airbnb-lottie-android', 'alibaba-fastjson', 'alibaba-jetcache',
       'apache-accumulo', 'apache-activemq', 'apache-avro',
       'apache-bookkeeper', 'apache-calcite', 'apache-cassandra',
       'apache-isis', 'apache-jmeter', 'apache-maven', 'apache-spark',
       'apache-storm', 'apache-tika', 'apache-tomcat', 'btraceio-btrace',
       'bumptech-glide', 'bytedeco-javacpp', 'crate-crate',
       'cryptomator-cryptomator', 'dropwizard-dropwizard',
       'dropwizard-metrics', 'facebook-facebook-android-sdk',
       'google-error-prone', 'grpc-grpc-java', 'hazelcast-hazelcast',
       'hibernate-hibernate-orm', 'iSoron-uhabits',
       'immutables-immutables', 'java-native-accessjna',
       'javaparser-javaparser', 'jenkinsci-jenkins', 'jhy-jsoup',
       'joelittlejohn-jsonschema2pojo', 'knowm-XChange',
       'mockito-mockito', 'mrniko-netty-socketio', 'mybatis-mybatis-3',
       'naver-pinpoint', 'oblac-jodd', 'oracle-opengrok', 'pmd-pmd',
       'quarkusio-quarkus', 'raphw-byte-buddy', 'redisson-redisson',
       'robolectric-robolectric', 'rzwitserloot-lombok',
       'scribejava-scribejava', 'sofastack-sofa-rpc',
       'spring-projects-spring-security', 'springfox-springfox',
       'testcontainers-testcontainers-java', 'uber-NullAway',
       'web3j-web3j'], dtype=object)